h1 Dashboard

= link_to 'Crypto Stuffs...', 'cryptos/index', class: 'btn btn-secondary'
= link_to 'Market Stuffs...', 'markets/index', class: 'btn btn-secondary'
= link_to 'Exchange Rates...', 'exchange_rates/index', class: 'btn btn-secondary'
